.product {
	display: grid;
	grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratingstart] auto [end];

	margin-top: 30px;
	padding: 30px;
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title,
.tags {
	grid-column: titlestart / middle;
}

.price,
.price-title {
	grid-column: pricestart / priceend;

	white-space: nowrap;
}

.credit,
.credit-title {
	grid-column: creditstart / creditend;
}

.rating,
.rating-title {
	grid-column: ratingstart / end;

	white-space: nowrap;
}

.hr,
.description,
.actions {
	grid-column: start / end;
}

.features {
	grid-column: start / middle;
}

.advantages-block {
	grid-column: middle / end;

	font-size: 16px;
	line-height: 22px;
}

.logo img {
	border-radius: 5px;
}

.title {
	align-self: flex-end;

	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.category {
	margin-top: 7px;
}

.price,
.credit {
	align-self: flex-end;

	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
}

.old-price {
	margin-left: 5px;
}

.per-month {
	font-size: 14px;
	line-height: 19px;
}

.rating {
	align-self: flex-end;
}

.price-title,
.credit-title,
.rating-title {
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}

.rating-title a {
	color: var(--primary);
}

.description {
	margin-bottom: 15px;

	font-size: 16px;
	line-height: 24px;
}

.review-button {
	margin-left: 20px;
}

.advantages-item-title {
	margin-bottom: 5px;

	font-weight: bold;
}

.advantages {
	margin-bottom: 20px;
	padding-left: 15px;

	border-left: 3px solid #1DC37E;
}

.disadvantages {
	padding-left: 15px;

	border-left: 3px solid var(--red);
}

.characteristic {
	display: grid;
	align-items: baseline;

	margin-bottom: 5px;
	padding-right: 60px;

	font-size: 16px;
	line-height: 32px;
	grid-template-columns: auto 1fr auto;
	gap: 10px;
}

.characteristic-name {
	font-weight: 700;
}

.characteristic-dots {
	border-bottom: 1px dashed var(--gray-light);
}

.reviews {
	overflow: hidden;
	
	padding: 30px;
}

@media screen and (width <= 1320px) {
	.product {
		grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
		grid-template-areas:
			"logo . title title title title title"
			"logo . tags tags tags tags tags"
			"price price price . credit . rating"
			"price-title price-title price-title . credit-title . rating-title"
			"hr hr hr hr hr hr hr"
			"description description description description description description description"
			"feature feature feature feature feature feature feature"
			"advBloc advBloc advBloc advBloc advBloc advBloc advBloc"
			"hr2 hr2 hr2 hr2 hr2 hr2 hr2"
			"actions actions actions actions actions actions actions";
	}

	.logo {
		grid-area: logo;

		margin-bottom: 20px;
	}

	.title {
		grid-area: title;
	}

	.tags {
		grid-area: tags;

		margin-bottom: 20px;
	}

	.price {
		grid-area: price;
	}

	.credit {
		grid-area: credit;
	}

	.rating {
		grid-area: rating;
	}

	.price-title {
		grid-area: price-title;
	}

	.credit-title {
		grid-area: credit-title;
	}

	.rating-title {
		grid-area: rating-title;
	}

	.hr {
		grid-area: hr;
	}

	.hr2 {
		grid-area: hr2;
	}

	.description {
		grid-area: description;
	}

	.features {
		grid-area: feature;

		margin-bottom: 20px;
	}

	.advantages-block {
		grid-area: advBloc;
	}

	.actions {
		grid-area: actions;
	}
}

@media screen and (width <= 640px) {
	.product {
		grid-template-columns: 70px 30px 1fr;
		grid-template-areas:
			"logo . title"
			"logo . tags"
			"price-title price-title price"
			"credit-title credit-title credit"
			"rating-title rating-title rating"
			"hr hr hr"
			"description description description"
			"feature feature feature"
			"advBloc advBloc advBloc"
			"hr2 hr2 hr2"
			"actions actions actions";
	}

	.price {
		margin-bottom: 10px;
	}

	.credit {
		margin-bottom: 10px;
	}

	.rating {
		margin-bottom: 10px;
	}
}

@media screen and (width <= 480px) {
	.product {
		grid-template-columns: 1fr;
		grid-template-areas:
			"logo"
			"title"
			"tags"
			"price"
			"price-title"
			"credit"
			"credit-title"
			"rating"
			"rating-title"
			"hr"
			"description"
			"feature"
			"advBloc"
			"hr2"
			"actions";
	}
}
